h1{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 25px; */
    margin-bottom: 75px
}

.main{
    display: flex;
    flex-direction: column;
    background-color: #B4B7BA;
    border: solid #212529 7px;
    border-radius: 25px;
    width: 600px;
    height: 650px;
    align-items: center;
    margin: auto;
    gap: 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    height: 650px;
    gap: 40px;
}

input{
    background-color: #212529;
    border: #6D6D6D solid 7px;
    border-radius: 25px;
    color: #B4B7BA;
    width: 500px;
    height: 75px;
    font-size: 32;
    /* font-family: Arial; */
    text-align: center;
}

input:hover{
    transform: scale(1.1); 
    transition: 0.3s;
}

.name{
    margin-top: 75px;
}

.text{
    display: flex;
    background-color: #6D6D6D;
    border: #6D6D6D solid;
    border-radius: 25px;
    width: 500px;
    height: 65px;
    justify-content: center;
}

.text p{
    /* font-family: Arial; */
    font-size: 24px;
    color: white;
    margin: 15px 0 15px 0;
    /* background-color: blue; */
}

.text a{
    /* background-color: red; */
    /* font-family: Arial; */
    text-decoration: none;
    font-size: 24px;
    color: #007BFF;
    margin: 15px 0 15px 0;
    padding-left: 15px;
}

.main button{
    background-color: #00C52D;
    border: #01771C solid 7px;
    border-radius: 25px;
    width: 300px;
    height: 65px;
    /* font-family: Arial; */
    font-size: 40px;
    color: white;
}

.main button:hover{
    transform: scale(1.1); 
    transition: 0.3s;
    background-color: 01771C;
}