.main{
    background-color: #B4B7BA ;
    display: flex;
    width: 1300px ;
    height: 880px;
    border: #1E1E1E solid 7px;
    border-radius: 50px ;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 75px;
}
input{
    background-color: black;
    width: 700px;
    height: 700px;
    border-radius: 7px;
    
}
/* .inputs{
    background-color:#1E1E1E ;
    width: 500px;
    height: 500px;
    border: #1E1E1E solid 7px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
} */
/* .input1{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 450px;
    height: 60px;
    border: white solid 7px;
    border-radius: 25px;

} */

img{
    width: 500px;
    height: 500px;
    border: white;
    border-radius: 50px;
}
.main button{
    background-color: #00C52D;
    border: #01771C solid 7px;
    border-radius: 25px;
    width: 500px;
    height: 50px;
    color: white;
    font-size: 30;
}

.main button:hover{
    background-color: #01771C;
    transform: scale(1.1); 
    transition: 0.3s;
}

input{
    background-color: #B4B7BA;
    width: 400px;
    height: 40px;
    border: #B4B7BA ;
    border-radius: 25px;
}