{% extends 'base.html' %}
{% load static %}

{% block title %} Контакти {% endblock %}

{% block link %}
    <link rel = "stylesheet" href = "{% static 'contacts/css/styles.css' %}">
{% endblock %}

{% block content %}
<section class = "main">
    <h2>Контакти</h2>
    <div class = "contacts-container">
        <div class = "con">
            <p>Email: QRCodeMaker@gmail.com</p>
            <p>Телефон: +380-00-000-0000</p>
            <p>Адреса: м. Київ, Україна</p>
        </div>
        <div class = "con">
            <p>Слідкуйте за нами:</p>
            <a href="https://x.com/?mx=2">X</a>
            <a href="https://www.facebook.com/">Facebook</a>
            <a href="https://www.instagram.com/">Instagram</a>
        </div>
        <div class = "con">
            <p>Це сайт для створення QR-кодів.  
            На головній сторінці ви можете оформити підписку,  
            зареєструватися та увійти в акаунт.  
            У розділі "Контакти" знайдете інформацію про нас,  
            а в "QR CODE" можна створювати QR-коди.</p>
        </div>
    </div>
</section>
{% endblock %}