h1, h2, h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* color: #000000; */
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

input{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: #007BFF;
    display: flex;
    align-items: center;
    height: 75px;
    width: 100vw;
    margin: -10px;
    padding: 0px;
    /* box-sizing: border-box; */
    justify-content: center;
    gap: 50px;
    margin-bottom: 75px;
}

nav button{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #007BFF;
    text-align: center;
    font-size: 24px;
    border: #007BFF solid;
    color: #000000;
}

nav button:hover{
    background-color:#005fc5;
    transform: scale(1.1); 
    transition: 0.3s;
}

nav a{
    text-decoration: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 24px;
}

nav p{
    color: #FFFFFF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;;
    text-align: center;
    font-size: 24px;
}

nav p:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

nav a:hover{
    transform: scale(1.1); 
    transition: 0.3s;
}

nav p{
    color: #000000;
    text-align: center;
    font-size: 36px;
    /* font-family:Arial; */
}

.left-menu{
    width: 75px;
    height: 75px;
    display: flex;
    background-color: #212529;
    border-radius: 50px;
    margin-top: -40px;
}

.left-menu button{
    width: 50px;
    height: 50px;
    /* margin: -65px 0 0 0; */
    text-align: center;
    font-size: 36px;
    background-color: #007BFF;
    color: #FFFFFF;
    border: #007BFF solid;
    border-radius: 25px;
    margin: auto;
}

.left-menu button:hover{
    transform: scale(1.2); 
    transition: 0.3s;
    border-radius: 50px;
}

.footer{
    margin: 75px 0 -10px -10px;
    display: flex;
    background-color: #212529;
    width: 100%;
    height: 200px;
    gap: 50px;
    border: #212529 solid 10px;
    margin-top: 250px;
}

.footer p{
    color: white;
    font-size: 28px;
    font-family: Arial;
}

.footer a{
    font-family: Arial;
    font-size: 28px;
    color: white;
}


.footer div{
    width: 600px;
    border: #6D6D6D 7px solid;
    border-radius: 25px;
}