.main{
    background-color:#B4B7BA ;
    display: flex;
    width: 1330px ;
    height: 700px;
    border: #1E1E1E solid 7px;
    border-radius: 50px ;
    flex-wrap: wrap;
    align-items: center;
    margin: auto;
    justify-content: center;
    gap: 75px;
}
.img{
    display: flex;
    gap: 100px;
    height: -400px;
    width: -17px;
    margin-top: 50px ;
}
.img1{
    background-color: #007BFF;
    height: 300px;
    width: 300px;
    justify-content: center;
    border: #007BFF 7px solid;
    border-radius: 50px;
}
img{
    height: 250px;
    width: 250px;
    border: white 7px solid;
    border-radius: 25px;
    margin: 17px;
}
button{
    background-color: #00C52D;
    border: #01771C solid 7px;
    border-radius: 25px;
    width: 350px;
    height: 70px;
    color: white;
    font-family: arial;
    font-size: 30;
}
.button{
    padding: 75px;
    gap: 30;
}
