{% extends 'base.html' %}
{% load static %}

{% block title %}
    LOGIN PAGE
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'reg/css/reg.css' %}">
{% endblock %}
        <!-- <input type="text" placeholder="Введіть Логін"             class="name">
        <input type="text" placeholder="Введіть Електрону Почту"        class="email">
        <input type="password" placeholder="Введіть Пароль"             class="password">
        <input type="password" placeholder="Повторіть Введений Пароль"  class="p_password"> -->

{% block content %}
    <h1>Реєстрація</h1>
    <div class="main">
        <form method="post" enctype="application/x-www-form-urlencoded">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="text">
                <p>Якщо не маєте акаунт ось</p>
                <a href="{% url 'login' %}">Авторизація</a>
            </div>

            <button class="submit-button" type="submit">Підтвердити</button>
        </form>
    </div>
{% endblock %}