{% extends 'base.html' %}
{% load static %}

{% block title %}
    LOGIN PAGE
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'reg/css/reg.css' %}">
{% endblock %}

{% block content %}
    <h1>Реєстрація</h1>
    <div class="main">
        <input type="text" placeholder="Введіть Логін" class="name">
        <input type="text" placeholder="Введіть Електрону Почту" class="email">
        <input type="pasword" placeholder="Введіть Пароль" class="password">
        <input type="pasword" placeholder="Повторіть Введений Пароль" class="p_password">

        <div class="text">
            <p>Якщо не маєте акаунт ось</p>
            <a href="{% url 'login' %}">Авторизація</a>
        </div>
        
        <button>Підтвердити</button>
    </div>
{% endblock %}