{% extends 'base.html' %}
{% load static %}

{% block title %}
    HOME PAGE
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block content %}
    <h1> Як почати ? </h1>
    <div class="main">
        <div class="con">
            <h2 class="main-text" >Реєстрація/Авторизація</h2>
            <p>
                Для використання обхідна Реєстрація або Авторизація щоб послуги нашо сайту працювали коректно
            </p>
        </div>
        <div class="con">
            <h2 class="main-text" > Оберіть Необхідну Послугу</h2>
            <p>В нас є безліч різних послуг для створення QR-кодів тож вам необхідно обрати ту послугу що вам підходить</p>
        </div>
        <div class="con">
            <h2 class="main-text" >Надайте Необхідну Інформацію</h2>
            <p>Надайте усю необхідну іформацію бодай розмір, колір тощо і ви отримаєте ваш QR-код в туж саму мить</p>
        </div>
        
    </div>
    <hr>
    <h1 class="second">Підписки</h1>
    <div class="main">
        <div class="con">
            <div class="head">
                <h2 class="main-text" >Базова Підписка</h2>
            </div>
            <p>
                - 1 QR-код на 6-ть місяців
            </p>
        </div>
        
        <div class="con">
            <div class="head">
                <h2 class="main-text" >Продвинута Підписка</h2>
            </div>
            <p>
                - 10 QR-код на 6-ть місяців
            </p>    
            <p>
                - кастомізація
            </p>
        </div>
        <div class="con">
            <div class="head">
                <h2 class="main-text" >Преміум Підписка</h2>
            </div>
            <p>
                - 100 QR-код на 6-ть місяців
            </p>   
            <p>
                - кастомізація
            </p>
        </div>
        <button>Отримати</button>
        <button>Придбати 2$</button>
        <button>Придбати 10$</button>
    </div>
{% endblock %}