{% extends 'base.html' %}
{% load static %}

{% block title %}
    My QR-code
{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{% static 'my_qr/css/my_qr.css' %}">
{% endblock %}

{% block content %}
    <div class="main"> 
        <div class="img">
            <div class="con">
                <img src="{% static 'my_qr/images/OIP.jpg' %}" alt="foto">
            </div>
            <div class="con">
                <img src="{% static 'my_qr/images/OIP.jpg' %}" alt="foto">
            </div>
            <div class="con">
                <img src="{% static 'my_qr/images/OIP.jpg' %}" alt="foto">
            </div>
        </div>


        <div class="button">
            <button>Відкрити</button>
            <button>Відкрити</button>
            <button>Відкрити</button>
        </div>       
    </div>
{% endblock %}